.footer-cont{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
background-color: aliceblue;
border: 3px solid #55b4b0;
position: relative;
top: 750px;
width: 100%;
padding: 12px 0 12px 0;
}
.home-cont,.trans-cont,.news-cont,.wal-cont{
border: 2px dashed coral;
padding: 5px 2px 5px 2px;
background-color: lightgreen;
cursor: pointer;
}
body{
    overflow: hidden;
}
